<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeweb.platform.sys.mapper.MenuMapper">
    <sql id="Insert_Clause">
        INSERT INTO t_sys_menu(
        f_id,
        f_parent_id,
        f_parent_path,
        f_order,
        f_name,
        f_desc,
        f_icon,
        f_type,
        f_route_path,
        f_is_web,
        f_is_android,
        f_is_ios,
        f_status,
        f_remark
        )
        VALUES
    </sql>
    <sql id="Insert_Value_Clause">
        (
        #{f_id},
        #{f_parent_id},
        #{f_parent_path},
        #{f_order},
        #{f_name},
        #{f_desc},
        #{f_icon},
        #{f_type},
        #{f_route_path},
        #{f_is_web},
        #{f_is_android},
        #{f_is_ios},
        #{f_status},
        #{f_remark}
        )
    </sql>
    <sql id="Insert_Values_Clause">
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.f_id},
            #{item.f_parent_id},
            #{item.f_parent_path},
            #{item.f_order},
            #{item.f_name},
            #{item.f_desc},
            #{item.f_icon},
            #{item.f_type},
            #{item.f_route_path},
            #{item.f_is_web},
            #{item.f_is_android},
            #{item.f_is_ios},
            #{item.f_status},
            #{item.f_remark}
            )
        </foreach>
    </sql>

    <sql id="Select_Clause">
        SELECT
        t.f_id,
        t.f_parent_id,
        m.f_name f_parent_name,
        t.f_parent_path,
        t.f_order,
        t.f_name,
        t.f_desc,
        t.f_icon,
        t.f_type,
        t.f_route_path,
        t.f_is_web,
        t.f_is_android,
        t.f_is_ios,
        t.f_status,
        t.f_remark
    </sql>
    <sql id="From_Clause">
        FROM t_sys_menu t
        LEFT JOIN t_sys_menu m ON m.f_id = t.f_parent_id
    </sql>
    <sql id="Where_Clause">
        WHERE 1=1
        <if test="f_id_like != null and f_id_like != ''">AND t.f_id LIKE CONCAT('%', #{f_id_like}, '%')</if>
        <if test="f_name_like != null and f_name_like != ''">AND t.f_name LIKE CONCAT('%', #{f_name_like}, '%')</if>
        <if test="f_parent_id != null and f_parent_id != ''">AND t.f_parent_id = #{f_parent_id}</if>
        <if test="f_parent_path_like != null and f_parent_path_like != ''">AND t.f_parent_path LIKE CONCAT('%', #{f_parent_path_like}, '%')</if>
        <if test="f_type != null and f_type != ''">AND t.f_type = #{f_type}</if>
        <if test="f_type_in != null and f_type_in != ''">AND t.f_type IN(${f_type_in})</if>
        <if test="f_route_path != null and f_route_path != ''">AND t.f_route_path = #{f_route_path}</if>
        <if test="f_route_path_like != null and f_route_path_like != ''">AND t.f_route_path LIKE CONCAT('%', #{f_route_path_like}, '%')</if>
        <if test="f_is_web != null and f_is_web != ''">AND t.f_is_web = #{f_is_web}</if>
        <if test="f_is_android != null and f_is_android != ''">AND t.f_is_android = #{f_is_android}</if>
        <if test="f_is_ios != null and f_is_ios != ''">AND t.f_is_ios = #{f_is_ios}</if>
        <if test="f_status != null and f_status != ''">AND t.f_status = #{f_status}</if>
        <if test="cur_user_id != null and cur_role_id_in == null">AND t.f_id IN(SELECT f_menu_id FROM t_sys_user_menu_distribution WHERE f_user_id=#{cur_user_id})</if>
        <if test="cur_user_id != null and cur_role_id_in != null">AND t.f_id IN(SELECT f_menu_id FROM t_sys_user_menu_distribution WHERE f_user_id=#{cur_user_id} UNION SELECT f_menu_id FROM t_sys_role_menu_distribution WHERE f_role_id IN(${cur_role_id_in}))</if>
    </sql>


    <!-- select -->
    <select id="selectEntity" parameterType="java.lang.String" resultType="com.jeeweb.platform.sys.entity.MenuEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        WHERE t.f_id = #{f_id}
    </select>
    <select id="selectEntityListPage" parameterType="com.jeeweb.framework.core.model.ParameterMap" resultType="com.jeeweb.platform.sys.entity.MenuEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        <include refid="Where_Clause" />
    </select>
    <select id="selectMapEntityListPage" parameterType="com.jeeweb.framework.core.model.ParameterMap" resultType="com.jeeweb.framework.core.model.RowMap">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        <include refid="Where_Clause" />
    </select>

    <!-- insert -->
    <insert id="insertEntity" parameterType="com.jeeweb.platform.sys.entity.MenuEntity">
        <include refid="Insert_Clause" />
        <include refid="Insert_Value_Clause" />
    </insert>
    <insert id="insertEntities" parameterType="java.util.ArrayList">
        <include refid="Insert_Clause" />
        <include refid="Insert_Values_Clause" />
    </insert>

    <!-- update -->
    <update id="updateEntity" parameterType="com.jeeweb.platform.sys.entity.MenuEntity">
        UPDATE t_sys_menu SET
        <if test="f_parent_id != null">f_parent_id=#{f_parent_id},</if>
        <if test="f_parent_path != null">f_parent_path=#{f_parent_path},</if>
        <if test="f_order != null">f_order=#{f_order},</if>
        <if test="f_name != null">f_name=#{f_name},</if>
        <if test="f_desc != null">f_desc=#{f_desc},</if>
        <if test="f_icon != null">f_icon=#{f_icon},</if>
        <if test="f_type != null">f_type=#{f_type},</if>
        <if test="f_route_path != null">f_route_path=#{f_route_path},</if>
        <if test="f_is_web != null">f_is_web=#{f_is_web},</if>
        <if test="f_is_android != null">f_is_android=#{f_is_android},</if>
        <if test="f_is_ios != null">f_is_ios=#{f_is_ios},</if>
        <if test="f_status != null">f_status=#{f_status},</if>
        <if test="f_remark != null">f_remark=#{f_remark},</if>
        f_id=#{f_id}
        WHERE f_id=#{f_id}
    </update>

    <!-- delete -->
    <select id="isCanDeleteEntity" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT 0 FROM DUAL
    </select>
    <delete id="deleteEntity" parameterType="java.lang.String">
        DELETE FROM t_sys_menu WHERE f_id=#{f_id}
    </delete>
    <delete id="deleteEntities" parameterType="com.jeeweb.framework.core.model.ParameterMap">
        DELETE FROM t_sys_menu WHERE 1=1
        <if test="f_id_in != null and f_id_in != ''">AND f_id IN(${f_id_in})</if>
        <if test="f_parent_id != null and f_parent_id != ''">AND f_parent_id = #{f_parent_id}</if>
        <if test="f_parent_path_like != null and f_parent_path_like != ''">AND f_parent_path LIKE CONCAT('%', #{f_parent_path_like}, '%')</if>
        <if test="f_status != null and f_status != ''">AND f_status = #{f_status}</if>
    </delete>

    <!-- 其他SQL -->
    <update id="createTempMenuIdTable">
        CREATE TEMPORARY TABLE IF NOT EXISTS `t_temp_menu` (
        `f_role_id` int(11) DEFAULT NULL COMMENT '角色ID',
        `f_user_id` int(11) DEFAULT NULL COMMENT '用户ID',
        `f_position_id` int(11) DEFAULT NULL COMMENT '岗位ID',
        `f_employee_id` int(11) DEFAULT NULL COMMENT '员工ID',
        `f_menu_id` VARCHAR(128) COLLATE utf8_bin NOT NULL COMMENT '菜单ID'
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin
    </update>
    <update id="cleanTempMenuIdTable">
        DELETE FROM `t_temp_menu`
    </update>
    <insert id="insertTempMenuIds" parameterType="java.util.ArrayList">
        INSERT INTO t_temp_menu(
        f_role_id,
        f_user_id,
        f_position_id,
        f_employee_id,
        f_menu_id
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.f_role_id},
            #{item.f_user_id},
            #{item.f_position_id},
            #{item.f_employee_id},
            #{item.f_menu_id}
            )
        </foreach>
    </insert>
    <select id="selectTempMenuListPage" parameterType="com.jeeweb.framework.core.model.ParameterMap" resultType="com.jeeweb.platform.sys.entity.MenuEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        RIGHT JOIN (SELECT DISTINCT f_menu_id FROM t_temp_menu) tm ON tm.f_menu_id = t.f_id
        <include refid="Where_Clause" />
    </select>
</mapper>
