<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址 或者Mapper的地址 -->
<mapper namespace="com.jeeweb.platform.sys.mapper.RoleMapper">
    <sql id="Insert_Clause">
        INSERT INTO t_sys_role(
        f_id,
        f_name,
        f_desc,
        f_is_preset,
        f_remark
        )
        VALUES
    </sql>
    <sql id="Insert_Value_Clause">
        (
        #{f_id},
        #{f_name},
        #{f_desc},
        #{f_is_preset},
        #{f_remark}
        )
    </sql>
    <sql id="Insert_Values_Clause">
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.f_id},
            #{item.f_name},
            #{item.f_desc},
            #{item.f_is_preset},
            #{item.f_remark}
            )
        </foreach>
    </sql>

    <sql id="Select_Clause">
        SELECT
        t.f_id,
        t.f_name,
        t.f_desc,
        t.f_is_preset,
        t.f_remark
    </sql>
    <sql id="From_Clause">
        FROM t_sys_role t
    </sql>
    <sql id="Where_Clause">
        WHERE 1=1
        <if test="f_name_like != null and f_name_like != ''">AND t.f_name LIKE CONCAT('%', #{f_name_like}, '%')</if>
        <if test="f_is_preset != null and f_is_preset != ''">AND t.f_is_preset = #{f_is_preset}</if>
    </sql>


    <!-- select -->
    <select id="selectEntity" parameterType="java.lang.Long" resultType="com.jeeweb.platform.sys.entity.RoleEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        WHERE t.f_id = #{f_id}
    </select>
    <select id="selectEntityListPage" parameterType="com.jeeweb.framework.core.model.ParamsMap" resultType="com.jeeweb.platform.sys.entity.RoleEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        <include refid="Where_Clause" />
    </select>
    <select id="selectRowMapListPage" parameterType="com.jeeweb.framework.core.model.ParamsMap" resultType="com.jeeweb.framework.core.model.RowMap">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        <include refid="Where_Clause" />
    </select>

    <!-- insert -->
    <insert id="insertEntity" parameterType="com.jeeweb.platform.sys.entity.RoleEntity">
        <selectKey resultType="java.lang.Long" keyProperty="f_id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
        <include refid="Insert_Clause" />
        <include refid="Insert_Value_Clause" />
    </insert>
    <insert id="insertEntities" parameterType="java.util.ArrayList">
        <include refid="Insert_Clause" />
        <include refid="Insert_Values_Clause" />
    </insert>

    <!-- update -->
    <update id="updateEntity" parameterType="com.jeeweb.platform.sys.entity.RoleEntity">
        UPDATE t_sys_role SET
        <if test="f_name != null">f_name=#{f_name},</if>
        <if test="f_desc != null">f_desc=#{f_desc},</if>
        <if test="f_is_preset != null">f_is_preset=#{f_is_preset},</if>
        <if test="f_remark != null">f_remark=#{f_remark},</if>
        f_id=#{f_id}
        WHERE f_id=#{f_id}
    </update>

    <!-- delete -->
    <!--
        SELECT SUB_COUNT, TIPS FROM
        (
        SELECT COUNT(1) SUB_COUNT, '角色已被用户数据使用，不能删除！' TIPS FROM t_sys_user_role WHERE f_role_id = #{f_id}
        UNION
        SELECT COUNT(1) SUB_COUNT, '角色已被菜单数据使用，不能删除！' TIPS FROM _sys_user_role WHERE f_role_id = #{f_id}
        ) t WHERE t.SUB_COUNT > 0

        SELECT SUB_COUNT, tips FROM
        (
        SELECT 0 SUB_COUNT, '没有数据关联，可以直接删除。' TIPS FROM DUAL
        ) t WHERE t.SUB_COUNT > 0
    -->
    <select id="isCanDeleteEntity" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT COUNT(1) SUB_COUNT FROM t_sys_user_role WHERE f_role_id = #{f_id}
    </select>
    <delete id="deleteEntity" parameterType="java.lang.Long">
        DELETE FROM t_sys_role WHERE f_id=#{f_id}
    </delete>
    <delete id="deleteEntities" parameterType="com.jeeweb.framework.core.model.ParamsMap">
        DELETE FROM t_sys_role WHERE 1=1
        <if test="f_id_in != null and f_id_in !=''">AND f_id IN(${f_id_in})</if>
    </delete>

    <!-- 其他SQL -->
</mapper>
