<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeweb.platform.sys.mapper.RoleMenuMapper">
    <!-- 其他SQL -->
    <select id="selectDistMenuListPage" parameterType="com.jeeweb.framework.core.model.ParamsMap" resultType="com.jeeweb.framework.core.model.RowMap">
        SELECT
        m.*,
        r.f_menu_id,
        r.f_role_id as id,
        r.f_role_id
        FROM t_sys_menu m
        LEFT JOIN (SELECT f_role_id, f_menu_id FROM t_sys_role_menu_distribution WHERE f_role_id = #{f_role_id}) r ON m.f_id = r.f_menu_id
        WHERE 1=1
        <if test="f_status != null and f_status != ''">AND m.f_status = #{f_status}</if>
        <if test="cur_user_id != null and cur_role_id_in == null">AND m.f_id IN(SELECT f_menu_id FROM t_sys_user_menu_distribution WHERE f_user_id=#{cur_user_id})</if>
        <if test="cur_user_id != null and cur_role_id_in != null">AND m.f_id IN(SELECT f_menu_id FROM t_sys_user_menu_distribution WHERE f_user_id=#{cur_user_id} UNION SELECT f_menu_id FROM t_sys_role_menu_distribution WHERE f_role_id IN(${cur_role_id_in}))</if>
    </select>
    <select id="selectAuthMenuListPage" parameterType="com.jeeweb.framework.core.model.ParamsMap" resultType="com.jeeweb.framework.core.model.RowMap">
        SELECT
        m.*,
        r.f_menu_id,
        r.f_role_id as id,
        r.f_role_id
        FROM t_sys_menu m
        LEFT JOIN (SELECT f_role_id, f_menu_id FROM t_sys_role_menu_authorization WHERE f_role_id = #{f_role_id}) r ON m.f_id = r.f_menu_id
        WHERE 1=1
        <if test="f_status != null and f_status != ''">AND m.f_status = #{f_status}</if>
        <if test="cur_user_id != null and cur_role_id_in == null">AND m.f_id IN(SELECT f_menu_id FROM t_sys_user_menu_distribution WHERE f_user_id=#{cur_user_id})</if>
        <if test="cur_user_id != null and cur_role_id_in != null">AND m.f_id IN(SELECT f_menu_id FROM t_sys_user_menu_distribution WHERE f_user_id=#{cur_user_id} UNION SELECT f_menu_id FROM t_sys_role_menu_distribution WHERE f_role_id IN(${cur_role_id_in}))</if>
    </select>

    <insert id="insertDistMenus" parameterType="java.util.ArrayList">
        INSERT INTO t_sys_role_menu_distribution (
        f_role_id,
        f_menu_id
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.f_role_id},
            #{item.f_menu_id}
            )
        </foreach>
    </insert>
    <insert id="insertAuthMenus" parameterType="java.util.ArrayList">
        INSERT INTO t_sys_role_menu_authorization (
        f_role_id,
        f_menu_id
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.f_role_id},
            #{item.f_menu_id}
            )
        </foreach>
    </insert>

    <delete id="deleteDistMenus" parameterType="com.jeeweb.framework.core.model.ParamsMap">
        DELETE FROM t_sys_role_menu_distribution WHERE 1=1
        <if test="f_id_in != null and f_id_in != ''">AND f_id IN(${f_id_in})</if>
        <if test="f_role_id != null">AND f_role_id = #{f_role_id}</if>
        <if test="f_role_id_in != null and f_role_id_in != ''">AND f_role_id IN(${f_role_id_in})</if>
    </delete>
    <delete id="deleteAuthMenus" parameterType="com.jeeweb.framework.core.model.ParamsMap">
        DELETE FROM t_sys_role_menu_authorization WHERE 1=1
        <if test="f_id_in != null and f_id_in != ''">AND f_id IN(${f_id_in})</if>
        <if test="f_role_id != null">AND f_role_id = #{f_role_id}</if>
        <if test="f_role_id_in != null and f_role_id_in != ''">AND f_role_id IN(${f_role_id_in})</if>
    </delete>
</mapper>
