<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeweb.diy.partner.mapper.ClothesStyleMapper">

    <sql id="Insert_Clause">
        INSERT INTO t_diy_clothes_style(
        f_partner_id,
        f_code,
        f_name,
        f_desc,
        f_cost_price,
        f_crowd_type,
        f_weight,
        f_remark
        )
        VALUES
    </sql>
    <sql id="Insert_Value_Clause">
        (
        #{f_partner_id},
        #{f_code},
        #{f_name},
        #{f_desc},
        #{f_cost_price},
        #{f_crowd_type},
        #{f_weight},
        #{f_remark}
        )
    </sql>
    <sql id="Insert_Values_Clause">
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.f_partner_id},
            #{item.f_code},
            #{item.f_name},
            #{item.f_desc},
            #{item.f_cost_price},
            #{item.f_crowd_type},
            #{item.f_weight},
            #{item.f_remark}
            )
        </foreach>
    </sql>

    <sql id="Select_Clause">
        SELECT
        t.f_id,
        t.f_partner_id,
        p.f_name f_partner_name,
        t.f_code,
        t.f_name,
        t.f_desc,
        t.f_cost_price,
        t.f_crowd_type,
        t.f_weight,
        t.f_remark
    </sql>
    <sql id="From_Clause">
        FROM t_diy_clothes_style t
        LEFT JOIN t_diy_partner p ON p.f_id = t.f_partner_id
    </sql>
    <sql id="Where_Clause">
        WHERE 1=1
        <if test="f_partner_id != null and f_partner_id != ''">AND t.f_partner_id = #{f_partner_id}</if>
        <if test="f_partner_name_like != null and partner_f_name_like != ''">AND p.f_name LIKE CONCAT('%', #{f_partner_name_like}, '%')</if>
        <if test="f_code != null and f_code != ''">AND t.f_code = #{f_code}</if>
        <if test="f_code_like != null and f_code_like != ''">AND t.f_code LIKE CONCAT('%', #{f_code_like}, '%')</if>
        <if test="f_name_like != null and f_name_like != ''">AND t.f_name LIKE CONCAT('%', #{f_name_like}, '%')</if>
        <if test="f_crowd_type != null and f_crowd_type != ''">AND t.f_crowd_type = #{f_crowd_type}</if>
        <if test="f_crowd_type_in != null and f_crowd_type_in != ''">AND t.f_crowd_type IN (${f_crowd_type_in})</if>
    </sql>


    <!-- select -->
    <select id="selectEntity" parameterType="java.lang.Long" resultType="com.jeeweb.diy.partner.entity.ClothesStyleEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        WHERE t.f_id = #{f_id}
    </select>
    <select id="selectEntityListPage" parameterType="com.jeeweb.framework.core.model.ParamsMap" resultType="com.jeeweb.diy.partner.entity.ClothesStyleEntity">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        <include refid="Where_Clause" />
    </select>
    <select id="selectMapEntityListPage" parameterType="com.jeeweb.framework.core.model.ParamsMap" resultType="com.jeeweb.framework.core.model.RowMap">
        <include refid="Select_Clause" />
        <include refid="From_Clause" />
        <include refid="Where_Clause" />
    </select>

    <!-- insert -->
    <insert id="insertEntity" parameterType="com.jeeweb.diy.partner.entity.ClothesStyleEntity">

        <include refid="Insert_Clause" />
        <include refid="Insert_Value_Clause" />
    </insert>
    <insert id="insertEntities" parameterType="java.util.ArrayList">
        <include refid="Insert_Clause" />
        <include refid="Insert_Values_Clause" />
    </insert>

    <!-- update -->
    <update id="updateEntity" parameterType="com.jeeweb.diy.partner.entity.ClothesStyleEntity">
        UPDATE t_diy_clothes_style SET
        <if test="f_partner_id != null">f_partner_id=#{f_partner_id},</if>
        <if test="f_code != null">f_code=#{f_code},</if>
        <if test="f_name != null">f_name=#{f_name},</if>
        <if test="f_desc != null">f_desc=#{f_desc},</if>
        <if test="f_cost_price != null">f_cost_price=#{f_cost_price},</if>
        <if test="f_crowd_type != null">f_crowd_type=#{f_crowd_type},</if>
        <if test="f_weight != null">f_weight=#{f_weight},</if>
        <if test="f_remark != null">f_remark=#{f_remark},</if>
        f_id=#{f_id}
        WHERE f_id=#{f_id}
    </update>

    <!-- delete -->
    <select id="isCanDeleteEntity" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT 0 FROM DUAL
    </select>
    <delete id="deleteEntity" parameterType="java.lang.Long">
        DELETE FROM t_diy_clothes_style WHERE f_id=#{f_id}
    </delete>
    <delete id="deleteEntities" parameterType="com.jeeweb.framework.core.model.ParamsMap">
        DELETE FROM t_diy_clothes_style WHERE 1=1
        <if test="f_id_in != null and f_id_in != ''">AND f_id IN(${f_id_in})</if>
    </delete>

    <!-- 其他SQL -->
</mapper>